* {
    position: relative;
    font-family: 微軟正黑體;
    /* border: solid 1px bisque; */
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #222;
}

h4 {
    color: aqua;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 3px;
    border-bottom: solid 1px blanchedalmond;
}

#map {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 500px;
    margin: auto;
    top: 0px;
    transition-duration: 0.2s;
}

#map:hover {
    max-width: 630px;
    max-height: 530px;
}